<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>battery study.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A62C09A31E3D193300626DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62C09BA1E3D193300626DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62C09C51E3D193300626DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
